<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/fragment/head :: common_head(~{::title}, ~{::style})">
    <title>home</title>
    <style>
        h1 {
            color: #2271b1;
        }
        h3 {
            text-decoration: none;
            color: deepskyblue;
        }
        p {
            text-decoration: none;
            color: gray;
            font-size: 8pt;
            height: 20px;
        }
        img {
            width: 400px;
            object-fit: cover;
            transition: 0.3s;
        }
        a:hover {
            text-decoration: none;
        }
        a img:hover{
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <div th:replace="~{template/fragment/page-header :: common_header('2022 아파트 실거래가 조회')}"></div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail">
                    <a href="/place/busan"><img src="images/busan.jpg" style="height: 150px;" alt="지역 이미지"></a>
                    <div class="caption">
                        <h3 class="text-center"><strong>부산</strong></h3>
                        <p class="text-center">제2의 도시이자 대한민국 최초의 직할시 · 광역시</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail">
                    <a href="/place/seoul"><img src="images/seoul.jpg" style="height: 150px;" alt="지역 이미지"></a>
                    <div class="caption">
                        <h3 class="text-center"><strong>서울</strong></h3>
                        <p class="text-center">대한민국의 수도, 최고 도시, 최대 도시</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail">
                    <a href="#"><img src="images/incheon.jpg" style="height: 150px;" alt="지역 이미지"></a>
                    <div class="caption">
                        <h3 class="text-center"><strong>인천</strong></h3>
                        <p class="text-center"> 서울특별시, 경기도와 함께 수도권을 형성하는 대한민국의 광역자치단체</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail">
                    <a href="#"><img src="images/daegu.jpg" style="height: 150px;" alt="지역 이미지"></a>
                    <div class="caption">
                        <h3 class="text-center"><strong>대구</strong></h3>
                        <p class="text-center">경상도의 중앙에 위치해 있는 광역자치단체. 대경권을 대표하는 대도시이자 대구권과 대경권의 최대도시</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail">
                    <a href="#"><img src="images/daejeoun.jpg" style="height: 150px;" alt="지역 이미지"></a>
                    <div class="caption">
                        <h3 class="text-center"><strong>대전</strong></h3>
                        <p class="text-center">대한민국 충청권 지역의 최대 도시</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="thumbnail">
                    <a href="#"><img src="images/kwangju.jpg" style="height: 150px;" alt="지역 이미지"></a>
                    <div class="caption">
                        <h3 class="text-center"><strong>광주</strong></h3>
                        <p class="text-center">전라남도 중북부에 있는 광역자치단체. 호남 최대도시이며 광주권의 수부도시</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>